<!DOCTYPE html>
<html lang="en">

<head>
  <title>Traffickosaver</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/animate.css">

  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">


  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="css/jquery.timepicker.css">

  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center">
          <p class="mb-0 phone pl-md-2">
            <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +91 1234 567</a>
            <a href="#"><span class="fa fa-paper-plane mr-1"></span> traffickosaveremail@email.com</a>
          </p>
        </div>
        <div class="col-md-6 d-flex justify-content-md-end">
          <div class="social-media">
            <p class="mb-0 d-flex">
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i
                    class="sr-only">Facebook</i></span></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i
                    class="sr-only">Twitter</i></span></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i
                    class="sr-only">Instagram</i></span></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i
                    class="sr-only">Dribbble</i></span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">Traffickosaver</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/contact" class="nav-link">Contacts</a></li>
          {{#if loggedIn}}
          <li class="nav-item active"><a href="/upload" class="nav-link">Upload</a></li>
          <li class="nav-item"><a href="/search" class="nav-link">Search</a></li>
          <li class="nav-item cta"><a href="/logout" class="nav-link"
              style="background-color: #1296ff;border-color: #1296ff;">Logout</a></li>
          {{else}}
          <li class="nav-item cta"><a href="/login" class="nav-link">Login</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->

  <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end">
        <div class="col-md-9 ftco-animate pb-5">
          <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i
                  class="ion-ios-arrow-forward"></i></a></span> <span>Upload <i
                class="ion-ios-arrow-forward"></i></span></p>
          <h1 class="mb-0 bread">Upload</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-5 ml-5 mr-5 mb-5">
    <div>
      <p>Welcome to the image upload page of our website dedicated to finding missing children using facial recognition
        technology. This page is accessible to both the public and NGOs who are interested in contributing to our
        efforts to reunite missing children with their families.</p>

      <p>To use this page, simply click on the "Choose File" button and select the image file of the missing child that
        you would like to upload. We accept JPEG, PNG, and GIF formats. Please make sure that the image is clear and of
        high quality, with the child's face clearly visible.</p>
    </div>
  </section>
  <section class="m-5">'
    <form action="/file-upload" method="post" enctype="multipart/form-data" id="form1">
      <h2 style="text-align: center;margin-bottom: 30px;">Upload the image (for public & NGOs)</h2>
      <div style="display: flex;justify-content: center;">
        <div
          style="height: 300px;border-style: dashed; border-color: black;display: flex;justify-content: center; align-items: center;width: 400px;background-color: aqua; border-radius: 10px;">
          <input type="file" name="file" accept=".png, .jpg">
        </div>
      </div>
      <div style="justify-content: center;
    display: flex;
    margin-top: 30px;">
        <button style="    border-radius: 5px;
    background-color: #ff5d5d;
    border-color: #ff6e6e;
    color: #fff;">Upload</button>
      </div>
    </form>
  </section>


  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading">Traffickosaver</h2>
          <p>Our team is dedicated to using the latest advancements in facial recognition technology to provide a
            valuable resource to families, law enforcement agencies, and community organizations.</p>
          <ul class="ftco-footer-social p-0">
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span
                  class="fa fa-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span
                  class="fa fa-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span
                  class="fa fa-instagram"></span></a></li>
          </ul>
          <p><a href="#" class="btn btn-quarternary">Donate Now</a></p>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading">Latest News</h2>
          <div class="block-21 mb-4 d-flex">
            <a class="img mr-4 rounded" style="background-image: url(images/image_2.jpg);"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Ludhiana man who tries to kidnap two-year-old thrashed by local residents;
                  dies in hospital</a></h3>
              <div class="meta">
                <div><a href="#">January 03, 2023 1:35 pm</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
          <h2 class="footer-heading">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Home</a></li>
            <li><a href="#" class="py-2 d-block">About</a></li>
            <li><a href="#" class="py-2 d-block">Contacts</a></li>
            <li><a href="#" class="py-2 d-block">Upload</a></li>
            <li><a href="#" class="py-2 d-block">Search</a></li>
            <li><a href="#" class="py-2 d-block">Login</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
          <h2 class="footer-heading">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon fa fa-map"></span><span class="text">Laxmi Chhaya Bungalow, Plot No. 27-27, RSC 11,
                  Gorai 2, Borivali West, Mumbai, Maharashtra 400091</span></li>
              <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+91 392 3929 210</span></a></li>
              <li><a href="#"><span class="icon fa fa-paper-plane"></span><span
                    class="text">traffickosaver@yourdomain.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 text-center">

          <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </footer>




  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" />
    </svg></div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
    crossorigin="anonymous"></script>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    $('#form1').submit(function (ev) {
      ev.preventDefault();

      Swal.fire({
        title: 'Are you sure?',
        text: "You want to Upload?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Submit'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire({
            icon: 'success',
            title: 'Image Uploaded Successfully',
            showConfirmButton: false,
            timer: 2000
          }).then((response) => {
            $(this).unbind('submit').submit()
          })
        }
      })
    });
  </script>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>

</body>

</html>